a.nav-link {
    color: white;
}


.container-fluid.thanquanlytin {
    margin-top: 70px;
}


nav.navbar.navbar-dark.bg-faded.navbar-fixed-top.menutren {
    background-color: #00a3c7;
}

button#dropdownMenuButton {
    border: none;
    background: #00a3c7;
    color: white;
}

.dropdown-menu {
    background-color: #00a3c7;
}

a.dropdown-item {
    color: white;
}